:root {
  /* --primary-color: #fc5130; */
  --primary-color: #242f40;
  --secundary-color: #d5dbe4;
  --dark-text: #363636;
  --light-text: #777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--dark-text);
  font-size: clamp(0.8rem, 0.8rem + 1vw, 1.2rem);
  overflow: hidden;
}

h1 {
  font-size: clamp(1.5rem, 1.5rem + 1vw, 1.8rem);
}

/* ----------------------------
Containers
---------------------------- */

.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(25, 19, 41, 1) 0%,
    rgba(31, 27, 47, 1) 35%,
    rgba(64, 58, 82, 1) 100%
  );
}

.view {
  overflow: hidden;
  max-width: 600px;
  animation: show-right 0.5s forwards;
  /* background-color: blue; */
}

.container {
  display: flex;
  width: 1200px;
  /* transform: translateX(-425px); */
  transition: transform 0.3s;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  max-width: 600px;
  position: relative;
}

@media (max-width: 620px) {
  /* .bg {
    background: var(--secundary-color);
  } */

  .view {
    max-width: 430px;
    height: 100%;
  }

  .container {
    width: 860px;
    /* width: calc(70vw * 2); */
    /* transform: translateX(-430px); */
    /* transform: translateX(-70vw); */
  }

  .wrapper {
    width: 430px;
    min-width: 430px;
  }
}

@media (max-width: 460px) {
  .view {
    max-width: 100%;
  }
  .container {
    width: 200vw;
    /* transform: translateX(-100vw); */
  }
  .wrapper {
    width: 100vw;
    min-width: initial;
  }
}

/* ----------------------------
Nav Buttons
---------------------------- */

.nav_btn {
  top: 1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #f0f0f0;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.55);
  z-index: 100;
  padding: 4px;
  cursor: pointer;
}

/* .nav_btn.active {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.55);
  right: 8px;
  background-color: yellow !important;
} */

.nav_btn:hover {
  background-color: #fdfdfd;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.55);
}

/* ----------------------------
Inputs
---------------------------- */

.inputs {
  /* text-align: center; */
  background-color: #fff;
  border: none;
  border-radius: 4px;
  outline: none;
  font-family: serif;
  border: 1px solid transparent;
  transition: 0.2s;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
}

.inputs:focus,
.inputs:hover {
  border: 1px solid #242f40 !important;
}

/* ----------------------------
Buttons
---------------------------- */

button {
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.converter .input-area button.desktop:hover
/* .practice .practice-body button.check:hover*/ {
  background-color: #af8d32;
  margin-top: -3px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.55);
}

/* ----------------------------
Converter
---------------------------- */

.converter {
  background-color: var(--secundary-color);
  padding: 50px 30px 30px 30px;
}

.converter .nav_btn {
  right: 10px;
}

.converter p {
  font-size: clamp(0.7rem, 0.7rem + 0.5vw, 1rem);
  color: var(--light-text);
  margin-top: 0.8rem;
  margin-bottom: 1.8rem;
}

.converter .input-area {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 60px;
  gap: 15px;
  margin-bottom: 20px;
}

.converter .input-area .inputs {
  padding: 0 1rem;
  line-height: 58px;
  /* height: 100%; */
  font-size: clamp(0.8rem, 0.8rem + 1vw, 1.5rem);
}

.converter .input-area button {
  padding: 0 1rem;
  line-height: 60px;
  height: 100%;
}

.converter .input-area button.mobile {
  display: none;
}

.converter .result {
  font-family: serif;
}

.thousand {
  text-decoration: overline;
}

@media (max-width: 620px) {
  .converter {
    /* height: 100vh; */
    background: var(--secundary-color);
    padding: 50px 20px 30px 20px;
    display: grid;
    gap: 20px;
  }

  .converter h1 {
    align-self: flex-start;
  }

  .converter p {
    display: none;
  }

  .converter .input-area {
    grid-template-columns: 1fr;
    gap: 12px;
    grid-template-rows: auto;
  }

  .converter .input-area .label {
    font-size: 1rem;
    color: var(--light-text);
    line-height: 1;
  }

  .converter .input-area .inputs {
    line-height: 50px;
  }

  .converter .result {
    display: none;
  }

  .converter .input-area button.mobile {
    display: block;
    line-height: 52px;
  }
  .converter .input-area button.desktop {
    display: none;
  }
}

/* ----------------------------
Practice
---------------------------- */

.practice {
  background-color: #d0e3f1;
  padding: 50px 20px;
}

.practice .nav_btn {
  left: 10px;
}

.practice .practice-header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  margin-bottom: 1.9rem;
}

.practice .practice-header span.level {
  font-size: clamp(1.5rem, 1.5rem + 1vw, 1.8rem);
  font-weight: 700;
}

.practice .practice-header span.dropdown-icon {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* align-self: center; */
  margin-left: 15px;
  margin-top: -5px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.practice .practice-header span.dropdown-icon:hover {
  background: #fafafa;
}

.practice .practice-header span img {
  display: block;
}

.practice .practice-body {
  width: 100%;
  max-width: 420px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 50px);
  gap: 20px;
}

.practice .practice-body .inputs {
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  background-color: #eee;
}

.practice .practice-body .inputs.question {
  color: var(--light-text);
  font-weight: 600;
  cursor: not-allowed;
}

.practice .practice-body .inputs[data-answer]:empty {
  border: 1px solid #425776;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.55);
}
.practice .practice-body .inputs[data-answer]:empty:before {
  content: attr(data-answer);
  text-transform: none;
  color: #bbb;
}
.practice .practice-body .inputs[data-answer]:focus {
  background-color: #fff;
  box-shadow: none;
}

.practice .practice-body button {
  z-index: 15;
  font-size: 1.25rem;
  padding: 0.75rem 1rem;
  letter-spacing: 1px;
  height: 50px;
}

.practice .practice-body button:hover {
  margin-top: -2px;
  filter: opacity(90%);
}

.practice .practice-result {
  display: none;
  width: 100%;
  height: 170px;
  position: absolute;
  color: #fff;
  bottom: 0;
  animation: show-up 0.3s forwards;
}
.practice .practice-result > p {
  padding-top: 15px;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
.practice .practice-result > p > span {
  margin-left: 5px;
  font-weight: 400;
}

.practice .practice-result.green {
  display: initial;
  background-color: #1e271d;
}
.practice .practice-result.green > p {
  color: #3fd01b;
}
.practice .practice-result.green > p > span {
  color: green;
}

.practice .practice-result.red {
  display: initial;
  background-color: #271d1d;
}
.practice .practice-result.red > p {
  color: #d01b1b;
}
.practice .practice-result.red > p > span {
  color: red;
}

/* @media (max-width: 620px) {
  .practice .practice-result > p {
    padding-top: 100px;
  }
} */

/* @media (max-width: 460px) { */
@media (max-width: 620px) {
  /* .converter,
  .practice {
    background: yellow;
  } */
  .practice .practice-header {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 20px;
    align-self: flex-start;
    margin-bottom: 2rem;
  }
  .practice .practice-header h1 {
    font-size: 38px;
    grid-column: 1 / 3;
  }

  /* .practice .practice-result.green,
  .practice .practice-result.red {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  } */

  .practice .practice-result > p {
    padding-top: 100px;
  }
}

/* ------------------------------
Mobile
------------------------------ */

@media (min-width: 1440px) {
  body {
    background-color: red;
  }
  .bg {
    background: red;
  }
}

/* @media (max-width: 720px) and (min-width: 425px) {
  .bg {
    background: yellow;
  }

  .view {
    max-width: 425px;
  }
} */

@media (max-width: 425px) {
  /* .bg {
    background: var(--secundary-color); */
  /* background: green; */
  /* height: auto;
  } */

  /* .wrapper {
    width: 100%;
  } */

  /* .practice .practice-body {
    width: 100%;
  } */
}

/* ------------------------------
Animations
------------------------------ */

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-90px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, 90px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
